@import url(./__links/navigation__links.css);
@import url(./__link/navigation__link.css);
@import url(./_image/navigation__image.css);
@import url(./__links/_loggedin/navigation__links_loggedin.css);
@import url(./__links/_loggedout/navigation__links_loggedout.css);
@import url(./__links/_hover/navigation__links_hover.css);
@import url(./__link/_theme-dark/navigation__link_theme-dark.css);
@import url(./__links/_theme-dark/navigation__links_theme-dark.css);
@import url(./__links/_hover/_theme-dark/navigation__links_hover_theme-dark.css);

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navigation :last-child, .navigation :nth-child(3) {
  margin: 0;
}

.navigation :nth-child(2n) {
  display: none;
}
