.register-container__input-error {
  margin: 0;
  padding: 0;
  min-height: 14px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  visibility: hidden;
  color: #CD5C5C;
  transition: visibility .3s ease;
}
