@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__nav_active {
    display: block;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: .3s opacity, .3s visibility ease-in;
  }
}
