.article-element__category {
  position: absolute;
  top: 0;
  left: 0;

  margin: 24px;
  padding: 0 10px;

  height: 40px;
  background: #FFF;
  display: flex;
  align-items: center;
  text-align: center;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  color: #000000;

  border-radius: 10px;
}
