.header__main-background {
  background-image: url('../../../images/main_theme.png');
  background-repeat: no-repeat;
  background-size: 100% 576px;
  background-position: center top;
  background-attachment: fixed;
}
