.searchform__input {
  position: relative;
  margin: 0;
  padding: 0;
  width: 70%;
  height: inherit;
  background: #FFF;
  border: none;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  outline: 0;
  padding-left: 24px;
  outline-offset: 0;
}

.searchform__input::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}
