@import url(./__title/searching-results__title.css);
@import url(./__elements/searching-results__elements.css);
@import url(./__button/searching-results__button.css);

.searching-results {
  padding: 80px 0;
  max-width: 1232px;
  margin: 0 auto;
}

@media screen and (max-width: 1268px) and (min-width: 768px) {
  .searching-results {
    max-width: 688px;
    padding: 40px 0 57px;
  }
}
