@import url(./__notfound/preloader__notfound.css);
@import url(./__circle/preloader__circle.css);
@import url(./__title/preloader__title.css);
@import url(./__image/preloader__image.css);
@import url(./__text/preloader__text.css);

.preloader {
  display: none;
  margin: 0 auto;
  padding: 80px 0;
  width: 1440px;
  max-height: 282px;
}
