.article-element__title {
  margin: 0 0 16px;
  padding: 0;
  max-height: 90px;

  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
}

@media screen and (max-width: 1268px) and (min-width: 768px) {
  .article-element__title {
    margin: 0 0 10px;
    font-size: 22px;
    line-height: 24px;
    max-height: 72px;
  }
}
