@import url(./__info/register-container__info.css);
@import url(./__name/register-container__name.css);
@import url(./__text/register-container__text.css);
@import url(./__input/register-container__input.css);
@import url(./__input-error/register-container__input-error.css);
@import url(./__input-error/_center/register-container__input-error_center.css);
@import url(./__input-error/_active/register-container__input-error_active.css);
@import url(./__choice/register-container__choice.css);
@import url(./__button/register-container__button.css);
@import url(./__link/register-container__link.css);
@import url(./__close/register-container__close.css);
@import url(./__name/_inactive/register-container__name_inactive.css);
@import url(./__input/_active/register-container__input_active.css);
@import url(./__button/_inactive/register-container__button_inactive.css);

.register-container {
  width: 430px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .register-container {
    width: 100%;
    box-shadow: none;
  }
}
