.searching-results__elements {
  width: 100%;
  margin: 0 0 64px;
  padding: 0;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  overflow: hidden;
}

@media screen and (max-width: 1268px) and (min-width: 768px) {
  .searching-results__elements {
    margin: 0 0 37px;
    height: 420px;
    grid-template-columns: repeat(auto-fill, 224px);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .searching-results__elements {
    margin: 0 0 15px;
    height: 446px;
    grid-template-columns: repeat(auto-fill, 288px);
    grid-row-gap: 6px;
    grid-column-gap: 0;
    height: 100%;
    overflow: visible;
  }
}
