.about__knowledge {
  margin: 0 0 30px 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .about__knowledge {
    margin: 0 0 15px 0;
  }
}
