.register-container__text {
  margin: 30px auto 22px;
  padding: 0;
  max-width: 358px;
  text-align: left;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .register-container__text {
    width: 288px;
    margin: 16px auto 22px;
  }
}
