@import url(./__info/header__info.css);
@import url(./__mobile/header__mobile.css);
@import url(./__button/header__button.css);
@import url(./__text/header__text.css);
@import url(./__text/_theme-dark/header__text_theme-dark.css);

.header {
  width: 1440px;
  height: 80px;
  margin: 0 auto;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(26, 27, 34, 0.2);
}
