.article-element__loggedin {
  margin: 24px;
  padding: 0;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
}

.article-element__loggedin:hover .article-element__attantion {
  display: flex;
}

@media screen and (max-width: 1268px) and (min-width: 768px) {
  .article-element__loggedin {
    margin: 8px;
  }
}
